<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Smdk" connectionString="user=SYSDBA;Password=masterkey;Database=D:\work\S-Market_int\DBase\SMARKET.FDB ;DataSource=localhost;Port=3050;Dialect=3;Role=;Connection lifetime=15;Pooling=true;Charset=win1251;ServerType=0;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>